.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-one {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-two {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
}