:root {
    --colorwhite: #FFF;
    --colorblack: #000;
    --color1: #FACD3D;
    --color2: #80827E;
    --color3: #FFFFFF99;

    --font-family1: "Open Sans", sans-serif;
    --font-family2: "Oswald", sans-serif;
}